* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}


/*FUENTES DE TEXTO------------------------------- */

/* POTENTE */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* FINITA */
.shadows-into light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

/* FINITA 2 Y CURSIVA */

.ojuju{
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



/* HEADER------------------------------------------- */
header {
    background-color: #17191B;
    border: 5px solid gray;

    position: sticky;
    top: 0;
    z-index: 3;


    display: flex;
    align-items: center center;
    justify-content: space-between;

    width: 100%;
    padding: 0 5%;
}

header img {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.navBar {
    padding: 0;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;



    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    list-style: none;
}

.navBar a {
    text-decoration: none;
    color: white;
    text-align: center center;
}

header a:hover{
    color: #545759;
}
header a img:hover{
    filter: opacity(80%);
}


/* MAIN----------------------------------------------- */
main {
    padding: 5rem 0;

    color: white;

    width: 100%;
    min-height: 68.75rem;
    max-height: 100%;

    background-image: url("../assets/img/space_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}





/* TITULOS GENERALES ------------------------------------- */
.principalTitle {


    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-transform: uppercase;
    text-align: center;
    font-size: 3.125rem;

    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    margin: 2.5rem 0;
}

.principalTitle h2 {

    font-family: "Shadows Into Light", cursive;
    font-weight: 200;
    font-style: italic;
    font-size: 3.125rem;

    text-transform: capitalize;
}

.principalTitleText {
    margin: 1.25rem;
}

.principalTitle img {
    width: 100%;
}


/* INDEX --------------------------------------------- */

.idxTitle {
    margin: 1.25rem 0;
    color: #F6D330;
}

.idxTitle h2 {
    color: #52cac9;
}


/* PLAYERS------------------------------------------------- */

.plyTitle {
    color: #F6D330;
}

.plyTitle h2 {
    color: #52cac9;
}


.plyPlayers section{
    margin-bottom: 75px;
}
.plyPlayers div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.plyPlayers h3{
    padding: 0 30px ;
    width: 100%;
    background-color: orange;
    color: rgb(41, 41, 41);

    font-size: 60px;
    text-align: end;
}



.plyPlayerInfo {
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.plyPlayerInfo a img {
    width: 100%;
    border: 8px solid #F6D330;
}
.plyPlayerInfo a{
    width: 240px;
    height: 240px;
}

.plyPlayerInfo p {

    width: 45%;
    height: 250px;
    font-size: 30px;

    align-self: center;
    color: white;
    overflow: hidden;

    border: 2px dashed white;

}
.plyPlayerInfo iframe {
    width: 400px;
    height: 250px;

    border: 8px solid #F6D330;

}

.plyReverse h3{
    grid-column: 2/3;
    text-align: start;
}
.plyReverse .plyPlayerInfo{
    flex-direction: row-reverse;
}


/* DEMONLIST-------------------------------------------- */

.demListIntro {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;

    margin: 6.25rem 0;

    display: grid
}

.demListIntro h2 {
    background-color: #ff575756;
}

.demListIntro p {
    text-align: center;
    font-size: 2.5rem;
    text-transform: none;
    width: 70%;
    justify-self: center;
}

.demListIntro p a{
    text-decoration: underline;
    color: #ff3232;
}



.demListTitleBar {
    padding: 0 10%;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    background-color: #ff575756;
    position: relative;
}

.demListTitleBar h2 {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    font-size: 4.375rem;
}

.demListTitleBar h3 {
    grid-column: 2/4;
    align-self: center;
    justify-self: flex-end;
    font-size: 3.125rem;
}

.demListLegend {
    font-size: 35px;
    color: #F6D330;

    grid-column: 1/2;
    position: absolute;
    bottom: -20px;

    justify-self: center;
    text-align: center;
}


.demListTotalLists {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}




.demListLevelTags {
    margin: 8%;
    font-size: 1.875rem;

    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.demListLevelTags article {

    border: 8px solid #DD0000;
    background-color: #A02525;
    justify-self: center;
    text-align: center;
}
.demListLevelTags article iframe{
    width: 320px;
    height: 200px;
    border: 3px solid #3F0000;
}
.demListLevelTags article img{
    width: 320px;
    height: 200px;
    border: 3px solid #3F0000;
}

.demListLevelTags h4 {
    text-transform: uppercase;
}




/* ABOUT ME---------------------------------------------------------- */



.abtMeTitle h2 {
    font-size: 3.125rem;
    background-color: #12564998;

    text-transform: none;
}

.abtMeInfo {
    margin: 5rem 0;
}

.abtMeInfo h2 {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    text-transform: none;
    text-align: center;
    font-size: 4.5rem;

    background-color: #12564998;
}


.abtWhy{
    margin: 2.5rem 0;
    border: 1px solid red;

    display: flex;
    flex-direction: column;

    justify-content: center;
}
.abtWhy p{
    text-align: center;
    justify-content: center;
}

.abtWhy h3{
    font-size: 1.875rem;
    text-align: center;
    text-transform: capitalize;
}
.abtWhy h3:nth-child(2){
    color:#F6D330;
    font-size: 60px;
    text-decoration: none;
    text-transform: uppercase;
}
.abtWhy article p {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;

    text-transform: none;
    font-size: 1.875rem;
    text-align: center;
}





.myFavLevels{
    display: flex;
    flex-direction: column;
}

.myFavLevels div{
    display: grid;
    padding: 20px;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 25% 1fr;
    
}

.myFavLevels h3{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}

.myFavLevels h4{
    justify-self: center;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: underline;

    grid-row: 1/2;
    grid-column: 1/2;
}
.myFavLevels p{
    padding: 10px;
    grid-row: 2/3;
    grid-column: 1/2;

    font-size: 35px;
    text-align: justify;
    overflow: hidden;
    border: 2px solid whitesmoke;
}
.myFavLevels iframe{
    justify-self:center;
    align-self: center;
    padding: 10px 40px;
    grid-row: 1/3;
    grid-column: 2/3;
}



/* PLAY NOW ---------------------------------------------------------------- */

.playNowMain {
    background-image: url("../assets/img/titles_logos/videos_banner.png");
    position: relative;
}
.playNowTitle{
    padding: 20% 0;
}

.playNowButtons {
    width: 100%;
    position: absolute;
    bottom: 10%;

    display: flex;
    flex-direction: column;
    gap: 50px;

    align-items: center;
}
.playNowButtons a{
    text-decoration: none;
    color: white;
}
.playNowButtons a h1{
    justify-self: center;
    width: 100%;
    background-color: #f6d23085;
    border-radius: 20px;
}
.playNowTitle h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 3.75rem;
    width: 60%;
    background-color: #23aeaca8;
    border-radius: 20px;
}




/* FOOTER------------------------------------------------------------ */
footer {

    width: 100%;
    height: 18.75rem;
    background-color: #17191B;
    border-top: 5px solid gray;

    color: gray;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.875rem;

    padding: 3.75rem;

}

footer div {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
}

footer img {
    margin: 0px .625rem;
    width: 1.875rem;
    height: 1.875rem;
}





/*  @MEDIAS ------------------------------------------ */




@media (max-width: 1290px){

    /* HEADER -------------------------- */
    .navBar li a{
        font-size: 25px;
    }
    header img{
        width: 50%;
    }



    /* DEMONLIST--------------------- */
    .demListLevelTags{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .demListIntro h2{
        font-size: 60px;
    }
    .demListTitleBar h2{
        font-size: 55px;
    }
    .demListTitleBar h3{
        text-align: center;
        font-size: 40px;
    }

    /* PLAYERS------------------------ */
    .plyPlayerInfo{
        display: grid;
        gap: 3%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .plyPlayerInfo p{
        width: 900px;
        justify-self: center;
        text-align: justify;
        grid-column: 1/3;
    }
    .plyPlayerInfo a{
        justify-self: center;
    }
    .plyPlayerInfo iframe{
        justify-self: flex-start;
        grid-row: 1/2;
        grid-column: 2/3
    }



    .plyReverse a{
        justify-self: center;
        grid-column: 2/3;
    }
    .plyReverse iframe{
        justify-self: flex-end;
        grid-row: 1/2;
        grid-column: 1/2;
    }


    /* ABOUT ME ----------------------- */
    .myFavLevels iframe{
        grid-row: 2/3;
    }
    .myFavLevels h4{
        grid-column: 1/3;
        font-size: 70px;
    }

    /* PLAY NOW ------------------------- */
    .playNowButtons a h1{
        justify-self: center;
        width: 100%;
        background-color: #f6d23085;
        border-radius: 20px;
    }
    .playNowTitle h2{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    
        font-size: 50px;
        width: 60%;
        background-color: #23aeaca8;
        border-radius: 20px;
    }
}



@media (max-width: 960px){
    /* PLAYERS -------------------------- */

    .plyPlayerInfo a{
        justify-self: center;
        grid-row: 1/2;
        grid-column: 1/3;

    }
    .plyPlayerInfo p{
        width: 600px;
        justify-self: center;
        text-align: justify;

        grid-column: 1/3;
        grid-row: 2/3;
    }
    .plyPlayerInfo iframe{
        justify-self: center;
        grid-column: 1/3;
        grid-row: 3/4;

        width: 450px;
        height: 300px;
    }



    .plyReverse a{
        justify-self: center;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .plyReverse iframe{
        justify-self: center;
        grid-row: 3/4;
        grid-column: 1/3;

        
    }

    /* ABOUT ME ------------------------- */
    .myFavLevels div{
        grid-template-rows: 100px 1fr 200px;
    }

    .myFavLevels p{
        justify-self: center;
        width: 700px;
        grid-row: 3/4;
        grid-column: 1/3;
        font-size: 30px;
    }
    .myFavLevels iframe{
        grid-row: 2/3;
        grid-column: 1/3;

    }
    .myFavLevels h4{
        grid-column: 1/3;
        font-size: 70px;
    }
}
