$coloresIdx:(
    title: #F6D330,
    title-shadow-col: #F6D330,
    subtitle: #52cac9,
    subtitle-shadow-col: #52cac9
);

$coloresPly:(
    title: #52cac9,
    playerNames: #292929,
    playerNames-shadow-col: #d4d4d4da,
    texts: white,
    texts-shadow-col: white,

    color-yellow:#f7ce2e,
    color-semi-orange:#fba41e,
    color-orange:#ff8311,
    color-cian: #52cac9,
    color-cian-midOp: #52caca7c,
    color-cian-lowOp: #52caca18
);

$coloresDemList:(
    lines-backgound-col: #ff575756,

    light-red:#f55a5a,
    normal-red: #ff3232,
    strong-red: #DD0000,
    dark-red: #3F0000,
    soft-dark-red: #7a0a0a,

    legend:#F6D330,
    legend-shadow-col:#f3e298,
);

$coloresAbtMe:(
    geometryDash-col: #F6D330,
    light-green-lowOp:#52ca8e3f,
    light-green:#52ca8e,
    dark-green:#307552,
    banner-shadow:rgba(255, 255, 255, 0.767),
    normal-gray:#3d4242,
    light-gray:rgb(89, 96, 97),
);

$coloresAbtMeLevels:(
    kocmoc:#c490ff,
    kocmocShadow:#8a67f1,
    kocmocLowOp:#a184f01e,
    overkill:#ff403d,
    overkillShadow: #8E060B,
    overkillLowOp: #8e060b3b,
    newRecord:#92afff,
    newRecordShadow:#4879ff,
    newRecordLowOp:#a9c0fe2a,
    tectonicTempo:#fd8331,
    tectonicTempoShadow:#BE2522,
    tectonicTempoLowOp:#fd833128,
    tidalWave:#FFF3A9,
    tidalWaveShadow:#FEF6D5,
    tidalWaveBorder:#57D4D4,
    tidalWaveLowOp:#57d4d433,
);



$coloresPlayNow:(
    getnow-background-col:#ffe055d5,
    getnow-border-col:#ffe369,
    available-background-col:#23aeaca8,
    available-border-col:#87fffde5,
);
