$coloresIdx:(
    title: #F6D330,
    title-shadow-col: #F6D330,
    subtitle: #52cac9,
    subtitle-shadow-col: #52cac9
);

$coloresPly:(
    title: #F6D330,
    subtitle: #52cac9,
    playerNames: #292929,
    playerNames-shadow-col: #7a7a7ada,
    texts: white,
    texts-shadow-col: white,

    color-yellow:#f7ce2e,
    color-semi-orange:#fba41e,
    color-orange:#ff8311,
    color-cian: #52cac9
);

$coloresDemList:(
    lines-backgound-col: #ff575756,

    light-red:#f55a5a,
    normal-red: #ff3232,
    strong-red: #DD0000,
    dark-red: #3F0000,
    soft-dark-red: #7a0a0a,

    legend:#F6D330,
    legend-shadow-col:#f3e298,
);

$coloresAbtMe:(
    geometryDash-col: #F6D330,
    light-green:#52ca8e,
    banner-shadow:rgba(255, 255, 255, 0.767)
);

$coloresPlayNow:(
    getnow-background-col:#f6d230c5,
    available-background-col:#23aeaca8,
);
