main {
    padding: 5rem 0;

    color: white;

    width: 100%;
    min-height: 68.75rem;
    max-height: 100%;

    background-image: url("../assets/img/space_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}