.plyTitle {
    color: map-get($coloresPly, title);
    @include textglow(30px, map-get($coloresPly, title));
    text-transform: capitalize;
    font-family: "Shadows Into Light", cursive;
    font-weight: 200;
    font-style: italic;

    margin: 0 4px;
}

.plyPlayers {
    display: grid;

    section {
        margin-bottom: 75px;
    }

    h3 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 600;
        font-style: normal;

        padding: 0 30px;
        width: 100%;
        @include left-gradient;
        color: map-get($coloresPly, playerNames);
        @include textglow(30px, map-get($coloresPly, playerNames-shadow-col));
        font-size: 60px;
        text-align: end;
    }
}

.plyPlayerName {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.plyPlayerInfo {
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div {
        width: 250px;
        height: 250px;
    }

    a {
        transition: 0.5s;
        border: 8px solid map-get($coloresPly, color-yellow);
        display: flex;

        &:hover {
            border: 8px solid map-get($coloresPly, color-cian);
            transition: 0.5s;
            transform: scale(105%);
        }

        img {
            overflow: hidden;
            object-fit: cover;
            width: 100%;
        }
    }

    p {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        width: 45%;
        height: 250px;
        font-size: 30px;
        padding: 10px;
        text-align: justify;
        align-self: center;
        color: map-get($coloresPly, text-shadow-col);
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-track {
            background: #44444450;
        }

        &::-webkit-scrollbar-thumb {
            background: map-get($coloresPly , color-cian-midOp);
            border: 3px solid map-get($coloresPly , color-cian);
            border-radius: 5px;
        }

        border: 2px solid map-get($coloresPly, color-cian);
        transition: 0.5s;

        &:hover {
            transition: 0.5s;
            background-color:map-get($coloresPly, color-cian-lowOp);
        }
    }

    iframe {
        width: 400px;
        height: 250px;

        border: 8px solid map-get($coloresPly, color-yellow);
        transition: 0.5s;

        &:hover {
            border: 8px solid map-get($coloresPly, color-cian);
            transform: scale(105%);
            transition: 0.5s;
        }
    }
}

.plyReverse {
    .plyPlayerInfo {
        flex-direction: row-reverse;
    }

    h3 {
        grid-column: 2/3;
        text-align: start;
        @include right-gradient;
    }
}

