.idxTitle {
    margin: 1.25rem;
    color: map-get($coloresIdx, title);
    @include textglow (30px, map-get($coloresIdx, title-shadow-col));   
    h2{
        color: map-get($coloresIdx, subtitle);
        @include textglow (30px, map-get($coloresIdx, subtitle-shadow-col));
    }
}