.playNowMain {
    background-image: url("../assets/img/titles_logos/videos_banner.png");
    position: relative;
}

.playNowButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
        @include textglow(30px, white);
        h1{
            justify-self: center;
            font-size: 80px;
            width: 100%;
            background-color: map-get($coloresPlayNow , getnow-background-col);
            border: 8px solid  map-get($coloresPlayNow , getnow-border-col);
            border-radius: 20px;
            padding: 0 30px;

            animation-name: beatingButton;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-duration: 1.5s;
        }
    }
}

.playNowTitle{
    display: flex;
    img{
        animation-name: swing;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
    }
}
.playNowAvailable{
    width: 100%;
    background-color: map-get($coloresPlayNow , available-background-col);
    h2 {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        @include textglow(10px, white);
        font-size: 3.75rem;

        border-top: 6px solid map-get($coloresPlayNow, available-background-col);
        border-bottom: 6px solid map-get($coloresPlayNow, available-background-col);

        &:hover{
            transition: 0.5s;
            border-color: map-get($coloresPlayNow, available-border-col);
        }
        transition: 0.5s;
    }
}

@keyframes beatingButton {
    0%{

    }
    50%{
        transform: scale(103%);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes swing{
    0%{
        transform:translateY( -15px);
    }
    50%{
        transform:translateY(15px);
    }
    100%{
        transform:translateY( -15px);
    }
}