.nav-wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    width: 100%;
}

nav #toggle, nav label{
    display: none;
}

.Orbitron{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navBar{
    align-items: center;
    padding: 0;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    list-style: none;
    a{
        @extend .Orbitron;
        text-decoration: none;
        color: white;
        @include textglow(30px, white);
        text-align: center;
        align-self: center center;
        transition: 0.15s;
        &:hover{
            transition: 0.15s;
            color: #545759;
            text-shadow: none;
        }
    }
    ul{
        list-style: none;
        display: flex;
        
        width: 100%;
        justify-content: space-between;

    }
}

.navBarLogo{
    transition: 0.15s;
    width: 90px;
    height: 90px;
    &:hover{
        filter: opacity(80%);
        transition: 0.15s;
    }
    a{
        display: flex;
        width: 100%; height: 100%;
        img{
            width: 100%; height: 100%;
        }
    }
}

.currentPage{
    img{
        filter: opacity(60%);
    }
    a{
        color: #545759;
        text-shadow: none;
        text-decoration: underline;
    }
}

label{
    i{
        width: 100px; height: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        @extend .Orbitron;
        @include textglow(30px, white);
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
            transition: 0.5s;
        }
    }
}

@media (max-width:650px){
    nav{
        .navBar{
            width:100%;
            height: 0;
            overflow: hidden;
            transition: 1s;
            li{
                filter: opacity(0%);
                transition: 0.2s;
            }
        }
        ul{
            flex-direction: column;
            align-items: center;
        }
        #toggle:checked ~{
            .navBar{
                height: 130px;
                transition: 0.5s;
                li{
                    filter: opacity(100%);
                    transition: 1.6s;
                }
            }
            label{
                i{
                    filter: opacity(40%);
                    transition: 0.5s;
                }
            }
        }
        label{
            display: inline-flex;
            color: white;
            cursor: pointer;
        }
    }
}


