@media (max-width: 1290px){
    .navBar{
        li{
            a{
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 812px){
    header {
        padding: 6px;
        li{
            display: flex;
            justify-self: center;
        }
        .navBarLogo {
            width: 70px;  height: 70px;
        }
        .navBar{
            ul{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                row-gap: 15px;
            }
        }
    }
}

@media (max-width:650px){
    header{
        .navBarLogo {
            width: 80px;  height: 80px;
        }
        .navBar{
            ul{
                padding: 25px;
                li{
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
